-- MySQL dump 10.13  Distrib 5.7.29, for Win64 (x86_64)
--
-- Host: localhost    Database: global_api
-- ------------------------------------------------------
-- Server version	5.7.29-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `athletes`
--

DROP TABLE IF EXISTS `athletes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `athletes` (
  `id` smallint(6) DEFAULT NULL,
  `rfid` varchar(20) DEFAULT NULL,
  `fullname` varchar(28) DEFAULT NULL,
  `birthday` varchar(10) DEFAULT NULL,
  `photo` varchar(11) DEFAULT NULL,
  `telephone` varchar(11) DEFAULT NULL,
  `subscriptionStart` varchar(10) DEFAULT NULL,
  `subscriptionEnd` varchar(10) DEFAULT NULL,
  `sessions` smallint(6) DEFAULT NULL,
  `sessionLeft` smallint(6) DEFAULT NULL,
  `debts` smallint(6) DEFAULT NULL,
  `offer` varchar(14) DEFAULT NULL,
  `specialKey` varchar(12) DEFAULT NULL,
  `belongGroup` varchar(0) DEFAULT NULL,
  `gender` varchar(6) DEFAULT NULL,
  `timeline` varchar(29) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `athletes`
--

LOCK TABLES `athletes` WRITE;
/*!40000 ALTER TABLE `athletes` DISABLE KEYS */;
/*!40000 ALTER TABLE `athletes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cases`
--

DROP TABLE IF EXISTS `cases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cases` (
  `id` tinyint(4) DEFAULT NULL,
  `caseName` varchar(6) DEFAULT NULL,
  `key` varchar(10) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cases`
--

LOCK TABLES `cases` WRITE;
/*!40000 ALTER TABLE `cases` DISABLE KEYS */;
INSERT INTO `cases` VALUES (1,'Common','0xdeadcode');
/*!40000 ALTER TABLE `cases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `id` tinyint(4) DEFAULT NULL,
  `categoryName` varchar(9) DEFAULT NULL,
  `key` varchar(10) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'Common','0xdeadcode'),(2,'common','887cf5c2'),(3,'NonCommon','ebb92525');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dailyincome`
--

DROP TABLE IF EXISTS `dailyincome`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dailyincome` (
  `id` smallint(6) DEFAULT NULL,
  `inDate` varchar(10) DEFAULT NULL,
  `inDebt` smallint(6) DEFAULT NULL,
  `inCase` mediumint(9) DEFAULT NULL,
  `inCome` mediumint(9) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dailyincome`
--

LOCK TABLES `dailyincome` WRITE;
/*!40000 ALTER TABLE `dailyincome` DISABLE KEYS */;
/*!40000 ALTER TABLE `dailyincome` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `id` tinyint(4) DEFAULT NULL,
  `rfid` int(11) DEFAULT NULL,
  `fullname` varchar(18) DEFAULT NULL,
  `birthday` varchar(10) DEFAULT NULL,
  `avatar` varchar(11) DEFAULT NULL,
  `telephone` bigint(20) DEFAULT NULL,
  `employedAt` varchar(10) DEFAULT NULL,
  `monthlyPayment` smallint(6) DEFAULT NULL,
  `salary` mediumint(9) DEFAULT NULL,
  `specialKey` varchar(8) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
INSERT INTO `employees` VALUES (1,10051997,'Souleymane Guerida','10-05-1997','default.png',664436207,'10-10-2016',1300,15000,'fcdb59e9');
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expenses` (
  `id` tinyint(4) DEFAULT NULL,
  `creditCard` varchar(18) DEFAULT NULL,
  `serviceName` varchar(6) DEFAULT NULL,
  `note` varchar(8) DEFAULT NULL,
  `amount` decimal(12,2) DEFAULT NULL,
  `imagePath` varchar(7) DEFAULT NULL,
  `type` varchar(7) DEFAULT NULL,
  `opDate` varchar(10) DEFAULT NULL,
  `key` varchar(10) DEFAULT NULL,
  `whichCase` varchar(8) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
INSERT INTO `expenses` VALUES (3,'Common','Common','for that',1500.00,'#ac872d','Expense','22-12-2021','0xdeadcode','Case'),(9,'Souleymane Guerida','Common','for note',1300.00,'#9fbb78','Expense','22-12-2021','fcdb59e9','Employee');
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `intraining`
--

DROP TABLE IF EXISTS `intraining`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intraining` (
  `id` tinyint(4) DEFAULT NULL,
  `rfid` bigint(20) DEFAULT NULL,
  `fullname` varchar(19) DEFAULT NULL,
  `photo` varchar(11) DEFAULT NULL,
  `trainingStarted` varchar(5) DEFAULT NULL,
  `trainingEnded` varchar(5) DEFAULT NULL,
  `status` tinyint(4) DEFAULT NULL,
  `date` varchar(10) DEFAULT NULL,
  `debts` decimal(12,2) DEFAULT NULL,
  `key` varchar(2) DEFAULT NULL,
  `specialKey` varchar(36) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `intraining`
--

LOCK TABLES `intraining` WRITE;
/*!40000 ALTER TABLE `intraining` DISABLE KEYS */;
/*!40000 ALTER TABLE `intraining` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoiceitems`
--

DROP TABLE IF EXISTS `invoiceitems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoiceitems` (
  `id` tinyint(4) DEFAULT NULL,
  `productName` varchar(12) DEFAULT NULL,
  `imagePath` varchar(14) DEFAULT NULL,
  `price` decimal(12,2) DEFAULT NULL,
  `quantity` tinyint(4) DEFAULT NULL,
  `total` decimal(12,2) DEFAULT NULL,
  `identifier` varchar(12) DEFAULT NULL,
  `respectiveBarcode` varchar(36) DEFAULT NULL,
  `isManual` tinyint(4) DEFAULT NULL,
  `reference` varchar(36) DEFAULT NULL,
  `color` varchar(36) DEFAULT NULL,
  `model` varchar(36) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoiceitems`
--

LOCK TABLES `invoiceitems` WRITE;
/*!40000 ALTER TABLE `invoiceitems` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoiceitems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoices` (
  `id` tinyint(4) DEFAULT NULL,
  `buyer` varchar(37) DEFAULT NULL,
  `opDate` varchar(10) DEFAULT NULL,
  `amount` decimal(12,2) DEFAULT NULL,
  `paid` decimal(12,2) DEFAULT NULL,
  `remaining` decimal(12,2) DEFAULT NULL,
  `identifier` varchar(12) DEFAULT NULL,
  `BC` tinyint(4) DEFAULT NULL,
  `BCdate` varchar(10) DEFAULT NULL,
  `BL` varchar(7) DEFAULT NULL,
  `BLdate` varchar(10) DEFAULT NULL,
  `factureNumber` varchar(7) DEFAULT NULL,
  `invoiceType` varchar(17) DEFAULT NULL,
  `validated` tinyint(4) DEFAULT NULL,
  `validationDate` varchar(36) DEFAULT NULL,
  `Note` varchar(38) DEFAULT NULL,
  `TVA` varchar(2) DEFAULT NULL,
  `FactureTVA` decimal(12,2) DEFAULT NULL,
  `Address` varchar(18) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materials`
--

DROP TABLE IF EXISTS `materials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materials` (
  `id` tinyint(4) DEFAULT NULL,
  `materialName` varchar(13) DEFAULT NULL,
  `materialType` varchar(4) DEFAULT NULL,
  `materialPrice` decimal(12,2) DEFAULT NULL,
  `materialQte` tinyint(4) DEFAULT NULL,
  `materialKey` varchar(10) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materials`
--

LOCK TABLES `materials` WRITE;
/*!40000 ALTER TABLE `materials` DISABLE KEYS */;
INSERT INTO `materials` VALUES (1,'Bois round 15','Bois',1500.00,3,'3a6908bc8f'),(2,'Fer plat 10cm','Fer',150.00,5,'3a6908bc8f');
/*!40000 ALTER TABLE `materials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `persistants`
--

DROP TABLE IF EXISTS `persistants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `persistants` (
  `id` tinyint(4) DEFAULT NULL,
  `percentageOff` tinyint(4) DEFAULT NULL,
  `benefitPercentage` tinyint(4) DEFAULT NULL,
  `stcokOff` tinyint(4) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `persistants`
--

LOCK TABLES `persistants` WRITE;
/*!40000 ALTER TABLE `persistants` DISABLE KEYS */;
INSERT INTO `persistants` VALUES (1,10,30,2);
/*!40000 ALTER TABLE `persistants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` int(10) DEFAULT NULL,
  `productName` varchar(50) DEFAULT NULL,
  `model` varchar(50) DEFAULT NULL,
  `barcode` varchar(50) DEFAULT NULL,
  `quantity` int(10) DEFAULT NULL,
  `imagePath` varchar(14) DEFAULT NULL,
  `price` decimal(12,2) DEFAULT NULL,
  `identifier` varchar(50) DEFAULT NULL,
  `dimensions` varchar(12) DEFAULT NULL,
  `sold` int(10) DEFAULT NULL,
  `bought` decimal(12,2) DEFAULT NULL,
  `market` decimal(12,2) DEFAULT NULL,
  `earned` decimal(12,2) DEFAULT NULL,
  `description` varchar(500) DEFAULT NULL,
  `link` varchar(50) DEFAULT NULL,
  `priceL` varchar(1) DEFAULT NULL,
  `quantityL` varchar(2) DEFAULT NULL,
  `reference` varchar(14) DEFAULT NULL,
  `availableColors` varchar(500) DEFAULT NULL,
  `materialLink` varchar(500) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sqlite_sequence`
--

DROP TABLE IF EXISTS `sqlite_sequence`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sqlite_sequence` (
  `name` varchar(14) DEFAULT NULL,
  `seq` smallint(6) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sqlite_sequence`
--

LOCK TABLES `sqlite_sequence` WRITE;
/*!40000 ALTER TABLE `sqlite_sequence` DISABLE KEYS */;
INSERT INTO `sqlite_sequence` VALUES ('users',5),('Persistants',1),('Cases',1),('Categories',3),('dailyIncome',114),('invoices',19),('invoiceitems',29),('expenses',9),('Employees',1),('products',17),('Athletes',3621),('materials',2),('TrainingGroups',3),('inTraining',35);
/*!40000 ALTER TABLE `sqlite_sequence` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `traininggroups`
--

DROP TABLE IF EXISTS `traininggroups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `traininggroups` (
  `id` tinyint(4) DEFAULT NULL,
  `name` varchar(1) DEFAULT NULL,
  `members` varchar(18) DEFAULT NULL,
  `startTime` varchar(5) DEFAULT NULL,
  `endTime` varchar(5) DEFAULT NULL,
  `purpose` varchar(8) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `traininggroups`
--

LOCK TABLES `traininggroups` WRITE;
/*!40000 ALTER TABLE `traininggroups` DISABLE KEYS */;
INSERT INTO `traininggroups` VALUES (1,'A','Souleymane Guerida','20:00','22:00','Karat├ر'),(2,'B','','01:00','02:00','Females'),(3,'C','','14:00','16:00','Footbool');
/*!40000 ALTER TABLE `traininggroups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(10) DEFAULT NULL,
  `username` varchar(50) DEFAULT NULL,
  `password_sha512` varchar(200) DEFAULT NULL,
  `userRole` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-09-17 17:59:40
